<section class="page-width home-shop_by_metal-section"></section>

{% schema %}
{
  "name": "Home Shop by Metal",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Diamonds that Dazzle"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Section Subheading",
      "default": "For complete peace of mind, choose from our exquisite collection of jewellery, featuring only BIS hallmarked gold and IGI certified lab-grown diamonds. "
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Metal Type",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
        },

        {
          "type": "url",
          "id": "button",
          "label": "Button"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Shop by Metal"
    }
  ]
}
{% endschema %}
